[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "onemapsgapi"]
	path = onemapsgapi
	url = https://github.com/jolene-lim/onemapsgapi
